
.menu {
    background-color: #76636B;
    height: 200px;
}

header{
    display: flex;
    flex-direction: column-reverse;
}

.navar {
    background-color: #76636B;
    padding: 0%;
}

.navbar-collapse {
    align-items: center;
    justify-content: flex-end;
    background-color: #76636B;
}

a.nav-link {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.div-nav {
    height: 159px;
    align-items: flex-end;
}

.icon-nav {
    width: 35%;
}
.div-icon{
    width: 20%;
    height: 122px;
    margin: 20px;
}

/* mas bien esto podrí ser un media query para pantallas grandes*/
@media (min-width: 992px){

    a.nav-link {
        color: #ffffff;
        font-size: 23px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px;
        position: relative; /* Importante para el posicionamiento del pseudo-elemento */
    }

a.nav-link::after {
    content: ""; /* Importante para que aparezca el pseudo-elemento */
    position: absolute; /* Posicionamiento absoluto respecto al elemento padre */
    left: 0; /* Colocamos la barra al inicio del enlace */
    bottom: 0; /* Colocamos la barra en la parte inferior del enlace */
    width: 95%; /* Hacemos que la barra ocupe todo el ancho del enlace */
    height: 3px; /* Altura de la barra */
    transition: height 0.3s ease-out; /* Agregamos una transición para que crezca suavemente */
}


a.nav-link:hover::after {
  
    height: 7px;
}

.nav-link-blue::after{
    background-color:#329FB1 ;
}

.nav-link-yellow::after{
    background-color:#F3BA2F ;
}

.nav-link-pink::after{
    background-color:#D17E88 ;
}

.nav-link-red::after{
    background-color:#C24846 ;
}

.nav-link-aqua::after{
    background-color: #13A79F ;
}
.nav-link-brown::after{
    background-color: #BC8544 ;
}

}