
.title-habPriv{
    text-align: center;
    margin: 30px;
}

.contenedor-instrucciones {
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
}

.contenedor-instrucciones p {
    max-width: 70%;
    text-align: justify;
    font-size: 1.1rem;
}