
.title-model {
    text-align: center;
    margin: 25px
    
}

.title-model h1 {
    font-size: 2.1rem;
}

.principal-modelo {
    display: flex;
    margin: 30px;
}

aside {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;;
}

aside a {
    margin:10px;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: bold;
}

.gral-dos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-preguntas {
    display: flex;
}

.pregunta-uno {
    width: 200%;
    padding: 20px;
}


.pregunta-dos {
    width: 200%;
    padding: 20px;
}

.contenedor-modelo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px;
}

.contenedor-modelo h3 {
    text-align: center;
}

.contenedor-modelo p {
    text-align: center;
    width: 80%;
}

.cuadroInfo {
    width: 30rem ;
    font-size: 1rem;
}

.card-body {
    background-color:#8DD0DB;;
}