/*imagen encabezado*/

main {
    display: flex;
    justify-content: center;
}
.image-persons {
    transform: scaleX(1.1);
    width: 70%;
}

/*Sección de texto sobre info general de la pagina*/

.texto-gral p {
    font-size: 1.2rem;   
}

.texto-gral {
    max-width: 800px;
    text-align: center;
}

.info-gral {
    margin: 30px;
    margin-top: 100px;
}

/*Seccion de ejes de pensamiento*/

.section-ejes {
    background-color: #D9D9D9;
}

.title-ejes {
    text-align: center; 
    padding: 24px;
}
.ejes {
    margin-top: 100px;
    background-color: #D9D9D9 ;
}

.principio-gral {
    padding: 20px;
}
.modelo-antiopresion {
    padding: 20px;
}
.recomendaciones {
    padding: 20px;
}

/* Footer */

footer {
    background-color: #433E48;
}

footer div {
    margin:20px;
}
div-text-footer {
    
}

footer p {
    color:#D9D9D9
}

.image-final {
    width: 10%;
}

.mail a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50px;
    transition: all 0.2s ease-in;
    padding: 7px;
}

.mail svg {
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}

.mail a:hover svg {
    color:black;
}

.mail a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);

}